<?xml version="1.0"?>
<!--
/**
 * Copyright © Walmart, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bopis>
            <synchronization_error_management>
                <error_retry_count>5</error_retry_count>
            </synchronization_error_management>
        </bopis>
    </default>
</config>
