<?xml version="1.0"?>
<!--
/**
 * @author    Blue Acorn iCi <code@blueacornici.com>
 * @copyright Walmart Commerce Technologies. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Walmart_BopisOrderFaasSync">
        <sequence>
            <module name="Walmart_BopisBase"/>
            <module name="Walmart_BopisApiConnector"/>
            <module name="Walmart_BopisOperationQueue"/>
            <module name="Walmart_BopisOperationQueueApi"/>
            <module name="Walmart_BopisOperationQueueAdminUi"/>
            <module name="Walmart_BopisInventorySourceApi"/>
            <module name="Walmart_BopisLogging"/>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
