<!--
/**
 * @author    Blue Acorn iCi <code@blueacornici.com>
 * @copyright Walmart Commerce Technologies. All Rights Reserved.
 */
-->
<!--@subject {{trans "Your %store_name order is ready for pickup" store_name=$store.frontend_name}} @-->
<!--@vars {
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var comment|escape|nl2br":"Order Comment",
"var order.shipping_description":"Delivery Description",
"var shipping_msg":"Delivery message",
"var created_at_formatted":"Order Created At (datetime)",
"var store.frontend_name":"Store Frontend Name",
"var store_email":"Store Email",
"var order":"Order",
"var order_data.is_not_virtual":"Order Type",
"var order_data.customer_name":"Customer Name",
"var order_id": "Order DB Id",
"var checkin_url": "Checkin Url",
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var order_url',[_nosid:1])":"Order View URL",
"var formattedBillingAddress|raw":"Billing Address",
"var formattedShippingAddress|raw":"Delivery Address",
"var formattedStoreAddress|raw":"Store Address",
"var formattedOpeningHours|raw":"Store Address",
"var pickupInstructions|raw":"Pick-up Instructions",
"var pickupEstimatedTime":"Pick-up Estimated Time"
} @-->

{{template config_path="design/email/header_template"}}

<table style="width: 100%;">
    <tr class="email-intro">
        <td>
            <h2 style="text-align: center;">{{trans "Your order is ready for pickup"}}</h2>

            <table class="progress-bar" align="center" style="margin-top: 40px; margin-bottom: 40px;">
                <tr class="icons" style="color: #91959C;">
                    <td align="center">
                        <img src="{{view url='Walmart_BopisOrderUpdate/images/confirm.png'}}" width="24" alt="{{trans 'Confirmed'}}" />
                    </td>
                    <td align="center">
                        <hr style="margin: 10px 0; width: 175px; border-top: 4px solid #cccccc; border-radius: 15px;">
                    </td>
                    <td align="center">
                        <img src="{{view url='Walmart_BopisOrderUpdate/images/store_selected.png'}}" width="24" alt="{{trans 'Store Icon'}}" />
                    </td>
                    <td align="center">
                        <hr style="margin: 10px 0; width: 175px; border-top: 4px solid #cccccc; border-radius: 15px;">
                    </td>
                    <td align="center">
                        <img src="{{view url='Walmart_BopisOrderUpdate/images/package.png'}}" width="24" alt="{{trans 'Pakage Icon'}}" />
                    </td>
                </tr>
                <tr class="labels">
                    <td align="center">
                        <span>{{trans "Confirmed"}}</span>
                    </td>
                    <td></td>
                    <td align="center">
                        <span>{{trans "Ready for pickup"}}</span>
                    </td>
                    <td></td>
                    <td align="center">
                        <span>{{trans "Delivered"}}</span>
                    </td>
                </tr>
            </table>

            <p class="greeting">{{trans "Dear %customer_name," customer_name=$order.getCustomerFirstname(}}</p>

            <p>
                {{trans "Your order is available for pickup. Please see below for pickup instructions. We hope you had a pleasant experience. See you soon!"}}
            </p>
            <p>
                {{trans 'If you have any questions, reply to this email or <a href="mailto:%store_email">contact us</a>.' store_email=$store_email |raw}}
            </p>

            <p style="text-align: center; margin-top: 20px">
                {{trans '<a href="%checkin_url" style="display: inline-block; color: white; background: #1979C3; padding: 10px 50px; border-radius: 3px; font-weight: 700; font-size: 14px; border: 1px solid #1979C3;" class="confirm-arrival-button">Confirm Arrival</a>' checkin_url=$checkin_url|raw}}
            </p>
        </td>
    </tr>
    {{depend pickupInstructions}}
    <tr class="pickup-instructions" style="margin-bottom: 40px;">
        <td>
            <h3 style="display: inline-block;">
                <img src="{{view url='Walmart_BopisOrderUpdate/images/instructions.png'}}" width="14" alt="{{trans 'instructions Icon'}}" />&nbsp;
                <span style="font-weight: 700;">Pickup instructions</span>
            </h3>
            <hr style="margin: 0 0 10px 0;">
            {{var pickupInstructions|raw}}
        </td>
    </tr>
    {{/depend}}
    <tr class="pickup-store">
        <td>
            <h3 style="display: inline-block;">
                <img src="{{view url='Walmart_BopisOrderUpdate/images/store.png'}}" width="14" alt="{{trans 'Store Icon'}}" />&nbsp;
                <span style="font-weight: 700;">Pickup store</span>
            </h3>
            <hr style="margin: 0 0 10px 0;">
            <p style="margin-bottom: 0;">{{var formattedStoreAddress|raw}}</p>
            <p style="margin-bottom: 0;">{{var formattedOpeningHours|raw}}</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h3 style="font-weight: 700;">{{trans 'Your Order <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</h3>
            <hr style="margin: 10px 0;">
            <p>{{trans 'Placed on <span class="no-link">%created_at</span>' created_at=$created_at_formatted |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <h3>{{trans "Billing Info"}}</h3>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order_data.is_not_virtual}}
                    <td class="address-details">
                        <h3>{{trans "Delivery Info"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Payment Method"}}</h3>
                        {{var payment_html|raw}}
                    </td>
                    {{depend order_data.is_not_virtual}}
                    <td class="method-info">
                        <h3>{{trans "Delivery Method"}}</h3>
                        <p>{{var order.shipping_description}}</p>
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                    {{/depend}}
                </tr>
            </table>
            {{layout handle="sales_email_order_items" order_id=$order_id area="frontend"}}
        </td>
    </tr>
    <tr class="email-additional">
        <td>
            <p style="text-align: center; margin-top: 20px">
                {{trans '<a href="%order_url" style="display: inline-block; color: #1979C3; border: 2px solid #1979C3; background: white; padding: 10px 10px; border-radius: 3px; font-weight: 700; font-size: 1.4rem;" class="view-order-button">View Your Order</a>' order_url=$order_url|raw}}
            </p>
            <p style="text-align: center; margin: 20px 0;">
                {{trans 'Do you have an account? <a href="%account_url">Login Here</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
            </p>
            <p style="text-align: center; margin: 20px 0;">
                {{trans 'If you have questions, reply to this email or <a href="mailto:%store_email">contact us</a>.' store_email=$store_email |raw}}
            </p>
        </td>
    </tr>
</table>

<style type="text/css">
    .email-intro .confirm-arrival-button {
        color: #fff !important;
    }
</style>

{{template config_path="design/email/footer_template"}}
