<?xml version="1.0"?>
<!--
/**
 * @author    Blue Acorn iCi <code@blueacornici.com>
 * @copyright Walmart Commerce Technologies. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Walmart_BopisInventorySourceReservation">
        <sequence>
            <module name="Walmart_BopisBase" />
        </sequence>
    </module>
</config>
