<!--
/**
 * @author    Blue Acorn iCi <code@blueacornici.com>
 * @copyright Walmart Commerce Technologies. All Rights Reserved.
 */
-->
<div class="col" id="bopis-google-map">

</div>
<div class="col">
    <div class="bopis-location-search" data-bind="scope: requestChild('bopis-location-search')">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
    <div class="bopis-location-list" data-bind="scope: requestChild('bopis-location-list')">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
</div>
