<?xml version="1.0"?>
<!--
/**
 * @author    Blue Acorn iCi <code@blueacornici.com>
 * @copyright Walmart Commerce Technologies. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\ValidationRules\QuoteValidationComposite">
        <arguments>
            <argument name="validationRules" xsi:type="array">
                <item name="WmtBopisPickupOptionQuoteValidationRule"
                      xsi:type="object">Walmart\BopisCheckoutPickInStore\Model\Quote\ValidationRule\PickupOptionQuoteValidationRule
                </item>
            </argument>
        </arguments>
    </type>
</config>
