<?xml version="1.0"?>
<!--
/**
 * @copyright Walmart Inc. All Rights Reserved.
 * @author    Blue Acorn iCi <code@blueacorn.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Walmart_BopisHomeDelivery">
        <sequence>
            <module name="Walmart_BopisBase" />
            <module name="Walmart_BopisHomeDeliveryApi"/>
        </sequence>
    </module>
</config>
