<?xml version="1.0"?>
<!--
/**
 * @author    Blue Acorn iCi <code@blueacornici.com>
 * @copyright Walmart Commerce Technologies. All Rights Reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Walmart\BopisPreferredLocationApi\Api\LocationInterface"
                type="Walmart\BopisPreferredLocationApi\Model\Location" />
    <type name="Walmart\BopisPreferredLocationApi\Api\LocationInterface">
        <plugin name="wct_add_pickup_options_to_get_locations_request"
                type="Walmart\BopisPreferredLocationApi\Plugin\AddPickupOptionsToGetLocationsPlugin"
                sortOrder="20" />
    </type>
</config>
